@model Blog.Models.Article
@using Blog.Models

@{
    ViewBag.Title = "Details";
}

<br />
<br />
<br />
<div class="container">
    <article>
        <header>
            <h2>
                @Model.Title
            </h2>
        </header>
        <p>
            @Model.Content
        </p>
        <small class="author">
            Author @Model.Author.FullName
        </small>
        <footer>
            <div class="pull-left">
                @foreach (var tag in Model.Tags)
                {
                    <span>@Html.ActionLink(tag.Name, "List", "Tag", new { @id = tag.Id }, new { @class = "btn btn-info btn-xs" })</span>
                }
            </div>
            <div class="pull-right">
                @if (User.IsInRole("Admin") || Model.IsAuthor(User.Identity.Name))
                {
                    @Html.ActionLink("Edit", "Edit", "Article", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
                    @Html.ActionLink("Delete", "Delete", "Article", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
                }

                @Html.ActionLink("Back", "Index", "Article", null, new { @class = "btn btn-default btn-xs" })

            </div>
            <br />
            <br />
            <div>
                <p>
                    @if (Request.IsAuthenticated)
                    {
                        @Html.Partial("_CommentPartial", new Comment() { ArticleId = Model.Id })
                    }
                </p>
                <p>
                    @{ int count = 0;}
                    @foreach (var comment in Model.Comments)
                    {
                        { count++; }

                        <div class="bs-component">
                            <blockquote>
                                <p>
                                    @comment.Content
                                </p>
                                <small>
                                    Comment:
                                    <site title="Sourse Title">
                                        @count
                                    </site>
                                </small>
                            </blockquote>
                        </div>
                    }
                </p>
            </div>
        </footer>
    </article>
</div>
<hr />
